/.vs/InterviewX/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Xbto.MarketConnector.Deribit/.vs/Xbto.MarketConnector.Deribit/DesignTimeBuild/.dtbcache.v2
/Xbto.MarketConnector.Deribit/.vs/Xbto.MarketConnector.Deribit/v16/.suo
/Xbto.MarketConnector.Deribit/Backup/AssemblyInfo.cs
/Xbto.MarketConnector.Deribit/Backup/ByteOrder.cs
/Xbto.MarketConnector.Deribit/Backup/CloseEventArgs.cs
/Xbto.MarketConnector.Deribit/Backup/CloseStatusCode.cs
/Xbto.MarketConnector.Deribit/Backup/CompressionMethod.cs
/Xbto.MarketConnector.Deribit/Backup/ErrorEventArgs.cs
/Xbto.MarketConnector.Deribit/Backup/Ext.cs
/Xbto.MarketConnector.Deribit/Backup/Fin.cs
/Xbto.MarketConnector.Deribit/Backup/HttpBase.cs
/Xbto.MarketConnector.Deribit/Backup/HttpRequest.cs
/Xbto.MarketConnector.Deribit/Backup/HttpResponse.cs
/Xbto.MarketConnector.Deribit/Backup/LogData.cs
/Xbto.MarketConnector.Deribit/Backup/Logger.cs
/Xbto.MarketConnector.Deribit/Backup/LogLevel.cs
/Xbto.MarketConnector.Deribit/Backup/Mask.cs
/Xbto.MarketConnector.Deribit/Backup/MessageEventArgs.cs
/Xbto.MarketConnector.Deribit/Backup/Net/AuthenticationBase.cs
/Xbto.MarketConnector.Deribit/Backup/Net/AuthenticationChallenge.cs
/Xbto.MarketConnector.Deribit/Backup/Net/AuthenticationResponse.cs
/Xbto.MarketConnector.Deribit/Backup/Net/AuthenticationSchemes.cs
/Xbto.MarketConnector.Deribit/Backup/Net/Chunk.cs
/Xbto.MarketConnector.Deribit/Backup/Net/ChunkedRequestStream.cs
/Xbto.MarketConnector.Deribit/Backup/Net/ChunkStream.cs
/Xbto.MarketConnector.Deribit/Backup/Net/ClientSslConfiguration.cs
/Xbto.MarketConnector.Deribit/Backup/Net/Cookie.cs
/Xbto.MarketConnector.Deribit/Backup/Net/CookieCollection.cs
/Xbto.MarketConnector.Deribit/Backup/Net/CookieException.cs
/Xbto.MarketConnector.Deribit/Backup/Net/EndPointListener.cs
/Xbto.MarketConnector.Deribit/Backup/Net/EndPointManager.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpBasicIdentity.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpConnection.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpDigestIdentity.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpHeaderInfo.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpHeaderType.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListener.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerAsyncResult.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerContext.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerException.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerPrefix.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerPrefixCollection.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerRequest.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpListenerResponse.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpRequestHeader.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpResponseHeader.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpStatusCode.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpStreamAsyncResult.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpUtility.cs
/Xbto.MarketConnector.Deribit/Backup/Net/HttpVersion.cs
/Xbto.MarketConnector.Deribit/Backup/Net/InputChunkState.cs
/Xbto.MarketConnector.Deribit/Backup/Net/InputState.cs
/Xbto.MarketConnector.Deribit/Backup/Net/LineState.cs
/Xbto.MarketConnector.Deribit/Backup/Net/NetworkCredential.cs
/Xbto.MarketConnector.Deribit/Backup/Net/QueryStringCollection.cs
/Xbto.MarketConnector.Deribit/Backup/Net/ReadBufferState.cs
/Xbto.MarketConnector.Deribit/Backup/Net/RequestStream.cs
/Xbto.MarketConnector.Deribit/Backup/Net/ResponseStream.cs
/Xbto.MarketConnector.Deribit/Backup/Net/ServerSslConfiguration.cs
/Xbto.MarketConnector.Deribit/Backup/Net/WebHeaderCollection.cs
/Xbto.MarketConnector.Deribit/Backup/Net/WebSockets/HttpListenerWebSocketContext.cs
/Xbto.MarketConnector.Deribit/Backup/Net/WebSockets/TcpListenerWebSocketContext.cs
/Xbto.MarketConnector.Deribit/Backup/Net/WebSockets/WebSocketContext.cs
/Xbto.MarketConnector.Deribit/Backup/obj/Debug/websocket-sharp.csprojAssemblyReference.cache
/Xbto.MarketConnector.Deribit/Backup/Opcode.cs
/Xbto.MarketConnector.Deribit/Backup/PayloadData.cs
/Xbto.MarketConnector.Deribit/Backup/Rsv.cs
/Xbto.MarketConnector.Deribit/Backup/Server/HttpRequestEventArgs.cs
/Xbto.MarketConnector.Deribit/Backup/Server/HttpServer.cs
/Xbto.MarketConnector.Deribit/Backup/Server/IWebSocketSession.cs
/Xbto.MarketConnector.Deribit/Backup/Server/ServerState.cs
/Xbto.MarketConnector.Deribit/Backup/Server/WebSocketBehavior.cs
/Xbto.MarketConnector.Deribit/Backup/Server/WebSocketServer.cs
/Xbto.MarketConnector.Deribit/Backup/Server/WebSocketServiceHost.cs
/Xbto.MarketConnector.Deribit/Backup/Server/WebSocketServiceHost`1.cs
/Xbto.MarketConnector.Deribit/Backup/Server/WebSocketServiceManager.cs
/Xbto.MarketConnector.Deribit/Backup/Server/WebSocketSessionManager.cs
/Xbto.MarketConnector.Deribit/Backup/WebSocket.cs
/Xbto.MarketConnector.Deribit/Backup/WebSocketException.cs
/Xbto.MarketConnector.Deribit/Backup/WebSocketFrame.cs
/Xbto.MarketConnector.Deribit/Backup/websocket-sharp.csproj
/Xbto.MarketConnector.Deribit/Backup/WebSocketState.cs
/Xbto.MarketConnector.Deribit/UpgradeLog.htm
/Xbto.MarketConnector.Deribit/websocket-sharp/bin/Debug/websocket-sharp.dll
/Xbto.MarketConnector.Deribit/websocket-sharp/bin/Debug/websocket-sharp.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/websocket-sharp.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/websocket-sharp.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.deps.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.exe
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.runtimeconfig.dev.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.runtimeconfig.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.AssemblyInfo.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.AssemblyInfoInputs.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.assets.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.csproj.CopyComplete
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.csproj.CoreCompileInputs.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.csproj.FileListAbsolute.txt
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.csprojAssemblyReference.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.exe
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.genruntimeconfig.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/project.assets.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.AssemblyInfo.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.AssemblyInfoInputs.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.Store.Service.assets.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Xbto.MarketConnector.Deribit.Store.Service.csproj.nuget.dgspec.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Xbto.MarketConnector.Deribit.Store.Service.csproj.nuget.g.props
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit.Store.Service/obj/Xbto.MarketConnector.Deribit.Store.Service.csproj.nuget.g.targets
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/bin/Debug/netcoreapp3.1/websocket-sharp.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/bin/Debug/netcoreapp3.1/websocket-sharp.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.deps.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/bin/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.AssemblyInfo.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.AssemblyInfoInputs.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.assets.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.csproj.CopyComplete
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.csproj.CoreCompileInputs.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.csproj.FileListAbsolute.txt
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.csprojAssemblyReference.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.dll
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Debug/netcoreapp3.1/Xbto.MarketConnector.Deribit.pdb
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/project.assets.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.AssemblyInfo.cs
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.AssemblyInfoInputs.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.assets.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Release/netcoreapp3.1/Xbto.MarketConnector.Deribit.csprojAssemblyReference.cache
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Xbto.MarketConnector.Deribit.csproj.nuget.dgspec.json
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Xbto.MarketConnector.Deribit.csproj.nuget.g.props
/Xbto.MarketConnector.Deribit/Xbto.MarketConnector.Deribit/obj/Xbto.MarketConnector.Deribit.csproj.nuget.g.targets
