.vs/*
*/.vs/*
*/Backup/*
*.htm*
*/Debug/*
*/Release/*
*/bin/*
*obj*
*.dll
*.pdb
*netcoreapp*
/Xbto.MarketConnector.Deribit/websocket-sharp/obj/Debug/websocket-sharp.csproj.FileListAbsolute.txt
/Xbto.MarketConnector.Deribit/websocket-sharp/obj/Debug/websocket-sharp.csproj.FileListAbsolute.txt
/Xbto.MarketConnector.Deribit/websocket-sharp/obj/*
